<header class="infos-block">
	<h2>[[scrapbook.title]]</h2>
	<em translate content="scrapbook.infos"></em>
</header>

<section class="scrapbook" ng-class="{ cover: scrapbook.pageIndex === 0 }">
	<div class="flip-left" ng-click="previousPage()">
		<div class="left-arrow" ng-class="{ disabled: scrapbook.pageIndex < 1 }"></div>
	</div>
	<div class="flip-right" ng-click="nextPage()">
		<div class="right-arrow" ng-class="{ disabled: scrapbook.pageIndex === scrapbook.pages.length() - 1 }"></div>
	</div>
	<div class="cover" ng-if="scrapbook.pageIndex === 0" ng-class="{ disabled: scrapbook.pageIndex < scrapbook.pages.all.length }">
		<h1>[[scrapbook.title]]</h1>
		<h2>[[scrapbook.subTitle]]</h2>
		<img ng-src="[[scrapbook.icon]]" ng-if="scrapbook.icon" />
	</div>
	<div class="drawing-zone" ng-if="scrapbook.pageIndex > 0">
		<div ng-repeat="layer in layers.all" class="cell">
			<placed-block ng-if="layer.media.type !== 'audio'"
						  x="layer.x" y="layer.y" w="layer.w" h="layer.h" z="layer.z">
				<img ng-if="layer.media.type === 'image'" class="cell" ng-src="[[layer.media.src]]" ng-class="{ extensible: layer.w }" />
				<div ng-if="layer.media.type === 'text' || layer.media.type === 'video'" bind-html-unsafe="layer.media.src"></div>
			</placed-block>
			<placed-block class="reduce-block-six" ng-if="layer.media.type === 'audio'"
						  x="layer.x" y="layer.y" w="layer.w" h="layer.h" z="layer.z">
				<audio ng-src="[[layer.media.src]]" controls />
			</placed-block>
		</div>
		<div class="scrapbook-pagination">
			<input type="text" ng-model="scrapbook.pageIndex" ng-change="goToIndex()"/> / [[scrapbook.pages.length() - 1]]
		</div>
	</div>
</section>
<div class="row">
	<behaviour resource="scrapbook" name="edit">
		<a class="cell bottom-locked" ng-click="editInfos()" translate content="scrapbook.edit.properties"></a>
		<button ng-click="editScrapbook()" class="right-magnet" translate content="edit"></button>
	</behaviour>

	<a class="right-magnet button" ng-href="/scrapbook/print#/print-scrapbook/[[scrapbook._id]]" target="_blank" translate content="print" workflow="scrapbook.print"></a>
	<button class="cancel right-magnet" ng-click="viewList()" translate content="back"></button>
	<div class="row"></div>
</div>



